In [ ]:
a = 2

In [ ]:
a

In [ ]:
a+6

In [ ]:
! pip install pandas

In [ ]:
from CustomerDAO import CustomerDAO

In [ ]:
dao = CustomerDAO(r'..\customers_db.db')
list(dao.find_all())

In [9]:
import pandas as pd 
df = pd.DataFrame(dao.find_all())
df

,id,first_name,last_name,email,gender,ip_address
0,1,Martynne,Bullock,mbullock0@paginegialle.it,Female,211.250.159.124
1,2,Bethanne,Padbury,bpadbury1@blogspot.com,Female,100.189.34.233
2,3,Devondra,Rubinsky,drubinsky2@hp.com,Female,143.3.240.2
3,4,Peg,Iglesias,piglesias3@hibu.com,Female,1.183.19.248
4,5,Sybila,Kunisch,skunisch4@soundcloud.com,Female,207.163.236.228
...,...,...,...,...,...,...
995,996,Veriee,Chinnock,vchinnockrn@oaic.gov.au,Female,253.114.26.173
996,997,Gilemette,Swaysland,gswayslandro@icq.com,Female,198.131.178.14
997,998,Rosmunda,Dulwich,rdulwichrp@wunderground.com,Female,35.30.133.251
998,999,Gerri,Pinkard,gpinkardrq@sourceforge.net,Female,19.20.222.250
999,1000,Wes,Chandlar,wchandlarrr@g.co,Male,57.249.255.249